<div class="container">

    <!-- LOADING -->
    <div class="overlay" *ngIf="loading">
        <div class="c-loader"></div>
        
        <div class="spinner-box">
            Carregando
            <div class="pulse-container">
                <div class="pulse-bubble pulse-bubble-1"></div>
                <div class="pulse-bubble pulse-bubble-2"></div>
                <div class="pulse-bubble pulse-bubble-3"></div>
            </div>
        </div>
    </div>

    <!-- FIM LOADING -->



    <div class="blueBg">
        <div class="box signin">
            <h2>Você é um paciente? <a href="#" (click)="$event.preventDefault(); onAction('signin')" >Clique aqui</a> para ver seus exames</h2>
        </div>
        <div class="box signup">
            <h2>Você é médico? <a href="#" (click)="$event.preventDefault(); onAction('signup')" >Clique aqui</a> para iniciar sua sessão</h2>
        </div>
    </div>
    <div class="formBx">

        <!-- Paciente -->
        <div class="form signinForm">
            <form>
                <h3>Paciente</h3>
                <input type="text" name="registro" [(ngModel)]="patModel.registro" placeholder="Código" #patientUser>
                <input type="password" name="password_web" [(ngModel)]="patModel.password_web" placeholder="Senha" >
                <input type="submit" (click)="authenticate('patient')" value="Validar">
            </form>
        </div>

        <!-- Médico -->
        <div class="form signupForm">
            <form>
                <h3>Médico</h3>
                <input type="text" name="login" [(ngModel)]="medModel.login" placeholder="Usuário" #medicalUser>
                <input type="password" name="cryptsenha" [(ngModel)]="medModel.cryptsenha" placeholder="Senha">
                <input type="submit" value="Entrar" (click)="authenticate('medical')">
            </form>
        </div>
    </div>
</div>


